html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
 /*=============== home section starts here ==========*/
 .bg-navbar{
    background: white;
    box-shadow: 1px 5px 15px lightgray;
 }
 .logo i{
     color:#27ae60;
     cursor: pointer;
 }
.logo-title {
    color:#192a56;
    font-weight: bold;
    cursor: pointer;
}
.styled-list{
    text-decoration: none;
    margin: 14px 8px;
    display: inline-block;
    color: #888;
    font-size: 18px;
    padding: 4px 15px;
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
    padding-top:2px;
}
.styled-list:hover{
    color:white;
    background:#27ae60;
}
.first-list{
    color:white;
    background:#27ae60;

}
.first-list:hover{
    color:white;
    background:#27ae60;

}
.icons i{
    width: 40px;
    height: 40px;
    color:#192a56 ;
    text-align: center;
    display:inline-block;
    place-items: center;
    padding: 10px;
    transition: .5s;
    cursor: pointer;
}
.icons i:hover{
    transform: rotate(360deg);
    background:#27ae60 ;
    color: white;
    border-radius: 100%;

}
/*============== home section ends here   ================ */
/*============== carousel-section starts here ============*/
.home1-contents{
    padding-top: 40px;
}
.home1-contents h6{
    color:#27ae60;
    font-size:22px;
    font-weight: 500;
 }
.home1-contents h1{
   color:#192a56;
   font-weight: bold;
   font-size:60px;
 }

.home1-contents p{
    font-weight: 450;
    color: rgb(88, 85, 85);
}
.home1-contents button{
    background:#192a56;
    color: white;
    border: none;
    padding:5px 20px;
    border-radius: 4px;
    font-size: 19px;
    transition: .4s;

}
.home1-contents button:hover{
    background:#27ae60;
    color: white;
    border: none;
    font-size: 19px;
    padding:5px 20px;
    border-radius: 4px;
    letter-spacing: 1px;
}
.first-carousel{
    padding-bottom: 38px;
}
.secound-carousel{
    padding-bottom: 34px;
}
.third-carousel{
    padding-bottom: 69px;
}
/*============== carousel-section ends here   ============*/
/*============== dishes-section  starts here ============ */

.dishes-title{
    text-align: center;
    display: block;
    margin: auto;
}
.dishes-title h5{
    color:#27ae60;
}

.dishes-title h2{
    color:#192a56;
}
.card {
  
    border: 1px solid #d8d8d8;
    box-shadow: 10px 17px 40px lightgrey;
    margin-bottom: 40px;
}
.card img {
    padding: 0px 42px;
    margin: auto;
    text-align: center;
    position: relative;
}
.card-body h3 {
    color: #192a56;
    font-size: 28px;
}
.footer-icon{
    position:absolute;
    width: 350px;
    display: block;
    margin: auto;
    top: 10px;
    visibility: hidden;
    transition: 1s;
    cursor: pointer;
    padding-right:10px;
}
.card:hover .footer-icon i:first-child{
    transform: translate(30px);
    visibility: visible;
    opacity: 1;
}
.card:hover .footer-icon i:last-child{
    transform: translate(-30px);
    visibility: visible;
    opacity: 1;
}
.footer-icon i{
    width: 50px ;
    height: 50px;
    border-radius: 100%;
    padding: 15px;
    font-size: 22px;
    color: #192a56;
    transition: .3s;
    cursor: pointer;
}
.footer-icon i:hover{
    width: 50px ;
    height: 50px;
    transform: rotate(360deg);
    border-radius: 100%;
    padding: 14px;
    color: white;
    background:#27ae60 ;
    opacity: 0;
    cursor: pointer;
}
.card-2 img {
    margin: -10px 0px;
    padding: 4px 10px;
}
.card-5 img {
    height: 236px;
}
.card-6 img {
    height: 210px;
    display: block;
}
.starts i{
    margin-top: 15px;
    transition: .2s;

}
.starts i:hover{
    color: #ecbd11;
    cursor: pointer;
}

.starts i{
    color:#27ae60;
    cursor: pointer;
}

.dishe-footer{
    padding-left: 50px;
}
.dishe-footer h3{
    color:#27ae60;
    margin-right: 15px;
}
.dishe-footer button{
    background:#192a56;
    color: white;
    border: none;
    padding:6px 20px;
    border-radius: 4px;
    font-size: 19px;
    transition: .4s;
    cursor: pointer;
}
.dishe-footer button:hover{
    background:#27ae60;
    color: white;
    border: none;
    font-size: 19px;
    padding:5px 20px;
    border-radius: 4px;
    letter-spacing: 1px;
}

/*============== dishes-section  ends here ============ */
/*============== about-section starts here ============ */
.about-content h2{

    color:#192a56;
    font-weight: 500;
}
.box{
    border: 1px solid gray;
    padding: 15px 5px;
    text-align: center;
    border-radius: 4px ;
}
.box i{
    color:#27ae60;
    font-size: 22px;
}
.box  span{
    color:#192a56;
    font-size: 16px;
    margin: 10px;
}
.buttons{
    border: none;
    color:white;
    background: #192a56;
    padding: 8px 18px;
    font-size: 20px;
    border-radius: 4px;
    transition: .3s;
}
.buttons:hover{
    background: #27ae60;
    letter-spacing: 1px;
}

/*============== about-section ends here ============ */
/*============== menu-section starts here =========== */
.single-menu{
    border: 1px solid rgb(223, 216, 216);
    border-radius: 5px;
    position: relative;
    margin-bottom: 40px;
    box-shadow: 1px 2px 25px rgb(200, 189, 189);
}
.about-imgs{
    border-radius: 20px;

}
.about-imgs-2 {
    height: 240px;
    width: 100%;
    border-radius: 20px;
}
.starts h2{
    color:#192a56 ;
    
}
.button-title{
    color: #27ae60;

}
.heart-l-icon i{
    position: absolute;
    top: 10px;
    left:75%;
    width: 50px;
    height: 50px;
    color:#192a56 ;
    text-align: center;
    align-items: center;
    padding: 14px 5px;
    border-radius: 100%;
    font-size: 22px;
    background:white;
    transition: .3s;
}

.heart-l-icon i:hover{
    width: 50px;
    height: 50px;
    font-size: 22px;
    color: white;
    background:#27ae60;

}
/*============== menu-section ends here ===========   */
/*============== review-section starts here========  */
.castomar-single {
    position: relative;
    border: 2px solid #27ae60;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.castomar-single p{
    font-size: 18px;
}
.start i{
    color: #27ae60;

}
.john{
    color:#192a56 ;

}
.quote-icon i{
    position: absolute;
    top: 25px;
    left: 79%;
    color: rgb(187, 178, 178);
    font-size: 42px;
}
/*============== review-section ends here ==========  */
/*============== order-section starts here  ==========  */
.main-container{
    /* border: 1px solid rgb(185, 178, 178); */
    box-shadow: 0px 0px 22px rgb(187 182 182);
    border-radius: 5px;
    padding: 12px;
}
.name{
    border-radius: 25px;
    border: 1px solid #27ae60;
}

.massage{
    border-radius: 6px;
    border: 1px solid #27ae60;

    
}

.buttons{
    border: none;
    color:white;
    background: #192a56;
    padding: 8px 18px;
    font-size: 20px;
    border-radius: 4px;
    transition: .3s;
}
.buttons:hover{
    background: #27ae60;
    letter-spacing: 1px;
}
/*============== order-section ends here  ==========  */
/*============== footer-section starts here ==========  */
.footer-box{
    margin-bottom: 30px;
}
.footer-box h3{
    color:#192a56;
    cursor: pointer;
}

.box-item  li{
    margin: 8px 0px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: .2s;

}
.box-item li:hover{
    color:#27ae60;
}
.box-item-2 li a{
    text-decoration: none;
    margin: 8px 0px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: .2s;

}
.box-item-2 li a:hover{
    color:#27ae60;

}
.box-item i{
    width: 40px;
    height: 40px;
    color: white;
    padding: 9px;
    font-size: 20px;
    margin: auto;
    border-radius: 100%;
    place-items: center;
    border: 1px solid #101d3d;
    background:#192a56;
    transition: .3s;
    cursor: pointer;
}
.box-item i:hover{
    border: 1px solid #27ae60;
    background: #27ae60;
    color:white;
}

.foter-social-icons i{
    width: 40px;
    height:40px;
    background: red;
    color: white;
    font-size: 22px;
    margin: 10px;
    padding: 7px 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;

}
.foter-social-icons i:nth-child(1){
    background: #3B5998;
    margin-left: 0;
}
.foter-social-icons i:nth-child(2){
    background: #00ACEE;
}
.foter-social-icons i:nth-child(3){
    background: #e4405f;
}
.foter-social-icons i:nth-child(4){
    background: #0077b5;
}
.Creadit-title{
    color:#27ae60;
}
/*============== footer-section starts here ==========  */
